{{ form_start(form) }}
    {{ form_row(form.name, {'attr' : {'class': 'form-control'}} ) }}
    {{ form_row(form.description, {'attr' : {'class': 'form-control'}} ) }}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Pourcentage</th>
                <th scope="col">Physique</th>
                <th scope="col">Magique</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Attaque</th>
                <td> {{ form_row(form.rate_physical_attack, {'attr' : {'class': 'form-control'}} ) }}</td>
                <td>{{ form_row(form.rate_magic_attack, {'attr' : {'class': 'form-control'}} ) }}</td>
            </tr>
            <tr>
                <th scope="row">Resistance</th>
                <td>{{ form_row(form.rate_physical_resistance, {'attr' : {'class': 'form-control'}} ) }}</td>
                <td>{{ form_row(form.rate_magic_resistance, {'attr' : {'class': 'form-control'}} ) }}</td>
            </tr>
            <tr>
                <th scope="row">Endurance</th>
                <td>{{ form_row(form.rate_physical_stamina, {'attr' : {'class': 'form-control'}} ) }}</td>
                <td>{{ form_row(form.rate_magic_stamina, {'attr' : {'class': 'form-control'}} ) }}</td>
            </tr>
        </tbody>
    </table>
    {{ form_row(form.rate_speed, {'attr' : {'class': 'form-control'}} ) }}
    {{ form_row(form.level, {'attr' : {'class': 'form-control', 'min' : '1'}} ) }}
    <div id="evolution" class="hidden-user-list">
        {{ form_row(form.evolution, {'attr' : {'class': 'form-select'}} ) }}
    </div>
    <br>
    <input hidden="true" id="pathElementSpe" value="{{ path("element_spe")}}">
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    <script src="/js/jquery.js"></script>
    <script>
        evolutionSearch;
        $(document).ready(function () { 
            $("#element_level").on("input", evolutionSearch);
        });

        function evolutionSearch() {
            var ElementSpe = document.getElementById("element_evolution");
            var evolution = document.getElementById("evolution");
            var nameElement = $("#element_name").val();
            var val = $(this).val();
            console.log("ok");
            if (val > 0) {
                $.ajax({
                    method: "POST",
                    url: $("#pathElementSpe").val(),
                    data: { elementLevelValue: val , elementNameValue : nameElement},
                    success: function (Data) {
                        if (Data.code == 200) {
                            var htmlData = ""
                            var num = 0
                            console.log(Data.resultData)
                            Data.resultData.forEach(element => {
                                htmlData += "<option value="+element.id+">"+element.name+"</option>"
                            });
                            ElementSpe.innerHTML = htmlData;   
                            evolution.classList.remove('hidden-user-list'); 
                        } else {
                            evolution.classList.add('hidden-user-list');
                        }
                    }
                });
            } else {
                evolution.classList.add('hidden-user-list');
            }
        }
    </script>
{{ form_end(form) }}
