{% extends 'base.html.twig' %}

{% block title %}Race index
{% endblock %}

{% block body %}
	<h1>Race index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Rate_physical_attack</th>
				<th>Rate_magic_attack</th>
				<th>Rate_physical_resistance</th>
				<th>Rate_magic_resistance</th>
				<th>Rate_physical_stamina</th>
				<th>Rate_magic_stamina</th>
				<th>Rate_speed</th>
				<th>Max_size</th>
				<th>Min_size</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for race in races %}
				<tr>
					<td>{{ race.id }}</td>
					<td>{{ race.name }}</td>
					<td>{{ race.description }}</td>
					<td>{{ race.ratePhysicalAttack }}</td>
					<td>{{ race.rateMagicAttack }}</td>
					<td>{{ race.ratePhysicalResistance }}</td>
					<td>{{ race.rateMagicResistance }}</td>
					<td>{{ race.ratePhysicalStamina }}</td>
					<td>{{ race.rateMagicStamina }}</td>
					<td>{{ race.rateSpeed }}</td>
					<td>{{ race.maxSize }}</td>
					<td>{{ race.minSize }}</td>
					<td>
						<a href="{{ path('race_show', {'id': race.id}) }}" class="btn btn-sg btn-primary">show</a>
						<a href="{{ path('race_edit', {'id': race.id}) }}" class="btn btn-sg btn-primary">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="13">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('race_new') }}" class="btn btn-sg btn-primary">Create new</a>
{% endblock %}
